html {
    background-color: #111;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}

body {
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
    aspect-ratio: 4 / 3;
}

@media (max-aspect-ratio: 4 / 3) {
    body {
        width: 100%;
    }
}

@media (min-aspect-ratio: 4 / 3) {
    body {
        height: 100%;
    }
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 15%;
    image-rendering: pixelated;
}
